#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon

IDI_ICON1               ICON                    "rsc\\coin.ico"


/////////////////////////////////////////////////////////////////////////////
//
// GIF

IDB_GIF1                GIF                     "rsc\\c1.gif"
IDB_GIF2                GIF                     "rsc\\c2.gif"